.navbar {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #282727;
  color: white;
  position: sticky;
  top: 0;
}
