.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navbar a:hover {
  color: #f0a500;
}

.footerLinks > ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
}

.navLinks > ul {
  display: flex;
  flex-direction: row;
}
