.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 1rem;
}

.footer a:hover {
  color: #f0a500;
}

.footerImage {
  display: flex;
  flex-direction: row;
}
